.main{
	min-width:1200px;
	height: 877px;
	background-color: gray; 
	box-sizing: border-box;
}
.row1, .row2, .row2_1, .row2_2{
	font-size: 0;
}
.row1, .row2, .row3{
	margin-bottom: 2%;
}
.row1_col{
	background-color: green;
	height: 150px;
	width: 49%;
	display: inline-block;
}
.row1_col:first-child{
	margin-right: 2%;
}

.row2_col{
	background-color: yellow;
	height: 320px;
	width: 49%;
	display: inline-block;
}
.row2_col:first-child{
	margin-right: 2%;
}
.row2_1{
	background-color: red;
	height: 155px;
	width: 100%;
	display: inline-block;
}
.row2_1col{
	background-color: blue;
	height: 155px;
	width: 30.66%;
	margin-right: 4%;
	display: inline-block;
}
.row2_1col:last-child{
	margin:0;
}
.row2_2{
	background-color: red;
	height: 142px;
	width: 100%;
	margin-top: 4%;
}
.row2_2col{
	background-color: blue;
	height: 142px;
	width: 48%;
	display: inline-block;
	margin-right: 4%;
}
.row2_2col:last-child{
	margin:0;
}
.row3_col12{
	background-color: blue;
	height: 185px;
	width: 31%;
	display: inline-block;
	margin-right: 2%;
}
.row3_col34{
	background-color: blue;
	height: 185px;
	width: 15.5%;
	display: inline-block;
	margin-right: 2%;
}
.row3_col34:last-child{
	margin:0;
}
.row4_col{
	background-color: blue;
	height: 135px;
	display: inline-block;
	margin-right: 2%;	
}
.row4_col:first-child{
	width: 15.5%;
}
.row4_col{
	width: 46.5%;
}
.row4_col:last-child{
	width: 33.37%;
	margin:0;
}

