.main{
	width:100%;
	min-width: 800px;
	height: 820px;
	box-sizing: border-box;
}
.row1, .row2, .row2_1, .row2_2, .row2_1col, 
.row2_2col, .row3_col12, .row3_col34, 
.row4_col, .row3, .row4{
	font-size: 0;
}
.row1, .row2, .row3, .row4{
	margin: 10px;
}
.row1_col{
	background-color: #69C5B8;
	height: 150px;
	width: calc(50% - 5px);
	display: inline-block;
}
.row1_col:first-child{
	background-color: #B0DFBF;
	margin-right: 10px;
}

.row2_col{
	height: 320px;
	width: calc(50% - 5px);
	display: inline-block;
}
.row2_col:first-child{
	background-color: #FA698A;
	margin-right: 10px;
}
.row2_1{
	height: 165px;
	width: 100%;
}
.row2_1col{
	background-color: #8B94F1;
	height: 100%;
	width: calc(33.33333% - 6.7px); 
	margin-right: 10px;
	display: inline-block;

}
.row2_1col:last-child{
	margin: 0;
}
.row2_2{
	height: 145px;
	width: 100%;
	margin-top: 10px;
}
.row2_2col{
	background-color: #FBC864;
	height: 100%;
	width: calc(50% - 5px);
	display: inline-block;
	margin-right: 10px;
}
.row2_2col:last-child{
	margin:0;
}
.row3_col{
	background-color: #588CC6;
	height: 185px;
	width: calc(33.3333% - 6.7px);
	display: inline-block;
	margin-right: 10px;
}
.row3_col:last-child{
	background-color: #fff;
	margin:0;
}
.row3_col12{
	background-color: #588CC6;
	height: 185px;
	width: calc(50% - 5px);
	display: inline-block;
	margin-right: 10px;
}
.row3_col12:last-child{
	margin:0;
}
.row4_col{
	background-color: #6651AC;
	height: 135px;
	display: inline-block;
	margin-right: 10px;	
}
.row4_col:first-child{
	width: calc(16.6667% - 6.7px);
}
.row4_col{
	width: calc(50% - 6.7px);
}
.row4_col:last-child{
	width: calc(33.3333% - 6.7px);
	margin:0;
}

